/*
    Conhecendo o CSS

    * Cascading Style Sheet 
    * Está na sua terceira versão 
    * Se o HTML é estrutura do documento o CSS é o ESTILO e a BELEZA
    * Não é uma linguagem de programacão 
    * Linguagem Style Sheet (declarativa de marcacão)

*/

/*
    Exemplo básico para conhecer 

    <style>
        h1 {
            color: blue;
        }
    </style>
*/

/*
        Anatomia 

        h2 {
            font-weight: 700;
            color: green;
            font-size: 48px;
        }

        * Seletor (Selector)
        * Declaracao (Declaration)
        * Propriedades (Property)
        * Valor da propriedade (Property Value)

        Seletores: 
            * Seletor Global *
            * Seletores de elementos - "h1, h2, p, div...""
            * Seletores usando ID "#box, #container""
            * Seletores usando class ".red, .box, .container""
            * Attribute selector, Pseudo-class, Pseudo-element e entre outros

*/